# Use postgres/example user/password credentials

services:

  db:
    image: postgres
    restart: always
    shm_size: 128mb
    environment:
      POSTGRES_PASSWORD: HEJSA
      POSTGRES_USER: admin
      POSTGRES_DB: betaling

  homesite:
    image: node:22-alpine
    restart: unless-stopped
    working_dir: /app
    volumes:
      - .:/app
    command: sh -c "npm install -g pnpm && pnpm install && npx prisma generate && npx prisma db push && pnpm build && pnpm start"
    env_file:
      - .env
    depends_on:
      - db
  nginx:
    image: nginx:alpine
    restart: unless-stopped
    ports:
      - 8080:80
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf:ro
    depends_on:
      - homesite
  
  adminer:
    image: adminer
    restart: always
    ports:
      - 3001:8080 
    depends_on:
      - db
  cloudflared:
    image: cloudflare/cloudflared:latest
    restart: unless-stopped
    command: tunnel --no-autoupdate run
    environment:
      - TUNNEL_TOKEN=eyJhIjoiNzI3Yjg4ZjQ0ODliMDhhYTI5MzE2ZGMzNjI0NWM0MzQiLCJ0IjoiODUzN2YyOTUtZmNhYy00OGFhLTk4ZTUtMTU0NWJmZTJlMzQwIiwicyI6Ik16QTFZV1UxWW1FdE5UTmhaaTAwWmpnNExUZzBPREF0TVdSa00yUmtNR1ZqTkRndyJ9 
networks:
  default:
    driver: bridge

