# Use postgres/example user/password credentials

services:

  db:
    image: postgres
    restart: always
    shm_size: 128mb
    environment:
      POSTGRES_PASSWORD: HEJSA
      POSTGRES_USER: admin
      POSTGRES_DB: betaling
    ports:
      - 5432:5432

  homesite:
    image: octoblu/pnpm
    restart: unless-stopped
    working_dir: staticbuild:/app
    volumes:
      - .:/app
    command: pnpm deploy
    ports:
      - 3000:3000
    env_file:
      - .env
    environment:
      - URL_BASE={URL_BASE}
      - NODE_ENV={NODE_ENV}

      #Email config
      - MAILGUN_HOST={MAILGUN_HOST}
      - MAILGUN_API_KEY={MAILGUN_API_KEY}
      - MAILGUN_LOGIN={MAILGUN_LOGIN}
      - MAILGUN_PASSWORD={MAILGUN_PASSWORD}

      #Database config
      - DATABASE_URL={DATABASE_URL}

      #Stripe config
      - STRIPE_SECRET_KEY={STRIPE_SECRET_KEY}
      - STRIPE_WEBHOOK_SECRET={STRIPE_WEBHOOK_SECRET}

      #Json Web Token
      - JWT_SECRET={JWT_SECRET}
      #Cloudflare
      - NEXT_PUBLIC_CLOUDFLARE_SITE_KEY={NEXT_PUBLIC_CLOUDFLARE_SITE_KEY}
      - CLOUDFLARE_SECRET_KEY={CLOUDFLARE_SECRET_KEY}

      - R2_ACCOUNT_ID={R2_ACCOUNT_ID}
      - R2_ACCESS_KEY_ID={R2_ACCESS_KEY_ID}
      - R2_SECRET_ACCESS_KEY={R2_SECRET_ACCESS_KEY}
      - R2_BUCKET_NAME={R2_BUCKET_NAME}
    depends_on:
      - db
  nginx:
    image: nginx:alpine
    restart: unless-stopped
    ports:
      - 80:80
    volumes:
      - staticbuild:/app/public
    depends_on:
      - homesite
  
networks:
  default:
    driver: bridge

volumes:
  staticbuild: