# Use postgres/example user/password credentials

services:

  db:
    image: postgres
    restart: always
    # set shared memory limit when using docker compose
    shm_size: 128mb
    # or set shared memory limit when deploy via swarm stack
    #volumes:
    #  - type: tmpfs
    #    target: /dev/shm
    #    tmpfs:
    #      size: 134217728 # 128*2^20 bytes = 128Mb
    environment:
      POSTGRES_PASSWORD: HEJSA
      POSTGRES_USER: admin
      POSTGRES_DB: betaling
    ports:
      - 5432:5432

  adminer:
    container_name: WebSQL
    image: adminer
    restart: always
    ports:
      - 8080:8080
  
  mailgun:
    image: stevenolen/mailgun-smtp-server
    restart: always
    container_name: Mail
    ports:
      - 25:25
    environment:
      MG_KEY: 
      MG_DOMAIN:
